.ltr,.purchasing-detail,.basket-analysis-charts{
  .viz-container{
    -webkit-box-shadow: 11px 14px 8px -4px rgba(150,148,150,0.79);
    -moz-box-shadow: 11px 14px 8px -4px rgba(150,148,150,0.79);
    box-shadow: 11px 14px 8px -4px rgba(150,148,150,0.79);
  }
  .title-container{
      display:inline-block;
      padding:0.5rem 1.5rem;
      background-color:#FFF;
      border:1px solid #5c88da;//
      border-radius: 2rem;
      -webkit-box-shadow: 5px 7px 4px -2px rgba(150,148,150,0.79);
      -moz-box-shadow: 5px 7px 4px -2px rgba(150,148,150,0.79);
      box-shadow: 5px 7px 4px -2px rgba(150,148,150,0.79);
      .title{
        font-size:1.5rem;
        margin:0;
        color:#5c88da;//#666564;//#5c88da;
      }
    }
  .section{
    margin:0;

    .row{
      margin-top:-1.35rem;
      background-color:#EEE;
      padding-bottom:5rem;
      @media (min-width: $break-point-md) {
        padding-bottom:0;
      }
      .col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,
      .col-md-10,.col-md-11,.col-md-12{
        @media (min-width: $break-point-md) {
          margin-top:2.5rem;
          margin-bottom:4.5rem;
        }
        &:first-of-type{
          margin-top:2.5rem;
        }
        margin-bottom:2.5rem;
      }
    }
    &:nth-child(2){
      margin-top:-3.6rem;
      .row{
        background-color:#d3e2f2;
      }
    }
    &:nth-child(3){
      margin-top:-3.6rem;
      .row{
        background-color:#97aec7;
      }
    }
  }
  .section-column{
    &:nth-of-type(2){
        background-color:#EEE;
    }
    &:nth-of-type(3){
        background-color:#d3e2f2;
    }
    &:nth-of-type(4){
        background-color:#97aec7;
    }
    .col{
      margin-top:-1.5rem;
      padding:0;
      margin-bottom:5rem;
      @media (min-width: $break-point-lg) {
        margin-bottom:2rem;
      }
    }
    .chart-container{
      padding-top:1rem;
    }
    .viz-container{
      margin-bottom:1rem;
    }
  }
}
