$primary: #5C88DA;
$side-menu-field-list-border-color:rgba(0,0,0,0);
$theme-color: #5C88DA;
$overlay-color-primary : rgba(212, 205, 205, 0.81);
$overlay-color-secondary :rgba(91, 136, 217, 0.55);

//NAVBAR
$navbar-bg:#fff;
$navbar-color:$primary;

